//
// ========== Startup ==========
//
spawn-at-startup "noctalia-shell"
spawn-sh-at-startup "uwsm finalize NIRI_SOCKET"
spawn-sh-at-startup "nvim-neovide -- -c 'lua require([[resession]]).load([[asc]])'"
// spawn-sh-at-startup "ghostty -e zellij attach asc"
spawn-at-startup "signal-desktop"
spawn-at-startup "brave"
spawn-at-startup "/run/current-system/sw/bin/protonvpn-app"
spawn-at-startup "yubioath-flutter"
spawn-at-startup "spotify"
spawn-at-startup "obsidian"
spawn-at-startup "copyq"
spawn-sh-at-startup "ghostty --title=btop -e btop"
hotkey-overlay {
  skip-at-startup
}
