//
// ========== Startup ==========
//
spawn-at-startup "noctalia-shell"
spawn-sh-at-startup "uwsm finalize NIRI_SOCKET"
spawn-sh-at-startup "nvim-neovide -- -c 'lua require([[resession]]).load([[asc]])'"
spawn-at-startup "signal-desktop"
spawn-at-startup "/run/current-system/sw/bin/protonvpn-app"
spawn-at-startup "yubioath-flutter"
spawn-at-startup "copyq"
spawn-at-startup "firefox"
hotkey-overlay {
  skip-at-startup
}
